{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<table class="table">
            <thead>
            <tr>
                <th scope="col">
                    TradeMark
                </th>
                <th scope="col">
                    Quantity
                </th>
            </tr>
            </thead>
            <tbody>
            {% for register in registers %}
            <tr>
                <td>
                    {{ register.trademark }}
                </td>
                <td>
                    {{ register.count }}
                </td>
            </tr>
            {% endfor %}
            </tbody>

</table>

{% endblock %}