{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<table class="table">
            <form action="" method="post"> {% csrf_token %}
                {{ form.trademark }}
                <button type="submit">Filtrar</button>
            </form>
            <thead>
            <tr>
                <th scope="col">
                    {% if trademark %}
                    Vehicles for trade mark {{ trademark }}
                    {% else %}
                    Select the trademark to filter vehicles
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>
                    {{ vehicle }}
                </td>
            </tr>
            {% endfor %}
            </tbody>

</table>

{% endblock %}